header {
  background: hsla(333, 100%, 53%, 1);
}
div {
  background: rgb(248, 155, 41);
}
button {
  background-color: rgb(97, 236, 97);
  color: white;
}

ul {
  text-align: center;
}
li {
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 50px;
}
h1,
nav {
  text-align: center;
  padding-bottom: 10px;
}

img {
  left: 0px;
  width: 200px;
  padding: 10px, 10px;
}

section {
  margin-left: 30px;
}
footer {
  padding: 20px;
  text-align: center;
  background: rgba(11, 0, 0, 0.896);
  color: white;
}
