header {
  background: hsla(333, 100%, 53%, 1);
}

ul {
  text-align: center;
}
li {
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 50px;
}
h1,
nav {
  text-align: center;
  padding-bottom: 10px;
}
h2 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  background: rgb(248, 155, 41);
}
div > h3,
div > p {
  margin: 0.5rem;
}

img {
  width: 200px;
  padding: 10px, 10px;
  margin: 0.5rem;
}
.product1 > img {
  width: 200px;
  height: 115px;
  padding: 10px, 10px;
  margin: 0.5rem;
}

section {
  margin: 30px;
}

button {
  background-color: rgb(97, 236, 97);
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
}
footer {
  padding: 10px;
  text-align: center;
  background: rgba(11, 0, 0, 0.896);
  color: white;
  margin: 1rem;
}
